﻿@model ReSalingTickets.Presentation.Models.UserModel
@{
    ViewBag.Title = "Редактирование пользователя";
}
<form asp-action="Edit" method="post" asp-controller="User">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="form-group">
        <input type="hidden" asp-for="PasswordHash" />
    </div>
    <div class="form-group">
        <input type="hidden" asp-for="Locale" />
    </div>
    <div class="form-group">
        <label asp-for="Login" class="control-label">Login</label>
        <input type="text" asp-for="Login" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="FirstName" class="control-label">Имя</label>
        <input type="text" asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SecondName" class="control-label">Фамилия</label>
        <input type="text" asp-for="SecondName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Adress" class="control-label">Адресс</label>
        <input type="text" asp-for="Adress" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="NumberPhone" class="control-label">Номер телефона</label>
        <input type="text" asp-for="NumberPhone" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-default" />
    </div>
</form>
