﻿@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Routing
@using ReSalingTickets.Presentation.ViewComponents
@using ReSalingTickets.Presentation.Models.Enums
@model ReSalingTickets.Presentation.Models.DbInfoModel
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
</head>
<body>
    <div class="wrapper">
        <div id="tabs">
            <ul id="items">
                <li class="active text"><a href="#tabs-1">@SharedLocalizer["МоиБилеты"]</a></li>
                <li class="active text"><a href="#tabs-2">@SharedLocalizer["ОжидающиеПодтверждения"]</a></li>
                <li class="active text"><a href="#tabs-3">@SharedLocalizer["Проданные"]</a></li>
                <li class="active text"><a href="#tabs-4">@SharedLocalizer["МоиЗаказы"]</a></li>
            </ul>
        </div>
        <div class="tab-content fone">
            <div id="tabs-1" class="tabs-text">
                @await Component.InvokeAsync("TicketShowComponent", new { result = TubEnum.First, dbInfoModel = Model })
            </div>
            <div id="tabs-2" class="tabs-text">
                @await Component.InvokeAsync("TicketShowComponent", new { result = TubEnum.Second, dbInfoModel = Model })
            </div>
            <div id="tabs-3" class="tabs-text">
                @await Component.InvokeAsync("TicketShowComponent", new { result = TubEnum.Third, dbInfoModel = Model })
            </div>
            <div id="tabs-4" class="tabs-text">
                @await Component.InvokeAsync("TicketShowComponent", new { result = TubEnum.Fourth, dbInfoModel = Model })
            </div>
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
        $(function(){
            $('#tabs-1').show();

            $('#items li').click(function () {
                if($(this).attr('class')=='active'){
                    return false;
                }

                var prevActive = $('li.active').children().attr('href');
                var link = $(this).children().attr('href');
                $('li.active').removeClass('active');
                $(this).addClass('active');

                $(prevActive).fadeOut(500,function(){
                    $(link).fadeIn();

                    $('#items li').css('background', '#ccc');
                    $('li.active').css('background', '#f3f3f3');
                })
                return false;
            })
        });
    </script>
    <div class="form-inline">
        <ul>
            <li>
                <a class="btn btn-sm btn-primary" asp-controller="Ticket" asp-action="AddTicket">@SharedLocalizer["ПродатьБилет"]</a>
            </li>
        </ul>
    </div>
</body>
</html>
