﻿@model ReSalingTickets.Presentation.ViewModels.AddEventViewModel
<title>@ViewData["Title"] - ReSalingTickets</title>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<form asp-action="AddEvent" method="post" asp-controller="Event" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group text">
        <label asp-for="Event.Name" class="control-label">@SharedLocalizer["Название события"]</label>
        <input type="text" asp-for="Event.Name" class="form-control" />
    </div>
    <div class="form-group text">
        <label asp-for="Event.Date" class="control-label">@SharedLocalizer["Дата проведения"]</label>
        <input type="text" asp-for="Event.Date" class="form-control" />
    </div>
    <div class="form-group">
        <select class="btn btn-success" asp-for="Event.VenueId"
                asp-items="Model.Venues" asp->
            <option>@SharedLocalizer["Место проведения"]</option>
        </select>
    </div>
    <div class="form-group text">
        <label asp-for="Event.EventDescription" class="control-label">@SharedLocalizer["Описание"]</label><br />
        <textarea asp-for="Event.EventDescription"></textarea>
    </div>
    <div class="editor-field text">
        <input type="file" name="file" class="btn btn-success" />
    </div>
    <div class="form-group text">
        <input type="submit" value=@SharedLocalizer["Сохранить"] class="btn btn-default" />
    </div>
</form>
