﻿@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@model ReSalingTickets.Presentation.Models.ChangeRoleModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<h2>Изменение ролей для пользователя @Model.Login</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" name="userId" value="@Model.UserId" />
    <div class="form-group text">
        @foreach (var role in Model.AllRoles)
        {
            <input type="checkbox" name="roles" value="@role"
                   @(Model.UserRoles.Contains(role) ? "checked=\"checked\"" : "") />@role <br />
        }
    </div>
    <button type="submit" class="btn btn-primary text">@SharedLocalizer["Сохранить"]</button>
</form>
