﻿@model ReSalingTickets.Presentation.Models.PathModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row text-right">
        <select class="btn btn-success text" asp-for="Type"
                asp-items="@(IEnumerable<SelectListItem>)ViewBag.Databases" asp->
            <option>@SharedLocalizer["БазыДанных"]</option>
        </select>
            <input type="submit" value=@SharedLocalizer["Перейти"] class="btn btn-success text" />
</div>
}