﻿@{
    ViewData["Title"] = "Home Page";
}
@using System.Security.Claims
@{
    var claimsIdentity = User.Identity as ClaimsIdentity;
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

    <div class="header">
    <div class="row">
        <div class="textSholom">
            <h1>@SharedLocalizer["ПерепродажаБилетов"]</h1>
        </div>
    </div>
    <div class="menu">
        <div class="row">
            <div class="col-md-3 col-md-offset-2">
                <h2><a asp-controller="Event" asp-action="ShowAllEvents"><img src="~/Events.jpg" /></a></h2>
            </div>
            @if (User != null && User.Identity.IsAuthenticated && claimsIdentity.HasClaim(ClaimTypes.Role, "User"))
            {
                <div class="col-md-3">
                    <h2><a asp-controller="User" asp-action="UserPanel"><img src="~/Ticket.jpg" /></a></h2>
                </div>
            }
            @if (User != null && User.Identity.IsAuthenticated && claimsIdentity.HasClaim(ClaimTypes.Role, "Admin"))
            {
                <div class="col-md-3">
                    <h2><a asp-controller="User" asp-action="AdminPanel"><img src="~/Admin.jpg" /></a></h2>
                </div>
            }
            <div class="col-md-3">
                <h2><a asp-controller="Home" asp-action="Contact"><img src="~/Contacts.jpg" /></a></h2>
            </div>
        </div>
    </div>
</div>





