﻿@model IEnumerable<ReSalingTickets.Presentation.Models.TicketShowModel>
@using System.Security.Claims
@{
    var claimsIdentity = User.Identity as ClaimsIdentity;
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<body>
    <h3 class="text">@SharedLocalizer["МоиЗаказы"]</h3>
    <script>
        var link = document.querySelector('link[rel=import]');
        var content = link.import.querySelector('#intro-dm');
        document.body.appendChild(content.cloneNode(true));
    </script>
    <table class="table">
        <tr>
            <th>
                <h5 class="text">@SharedLocalizer["Событие"]</h5>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameSeller)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.PathToTheBanner" width="100" height="80">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.RouteLink(item.NameSeller, new { controller = "User", action = "Contact", area = "", @item.Id })
                </td>
            </tr>
        }

    </table>
</body>