*{margin: 0; padding: 0;}

.wrapper{
width: 900px;
margin: 50px auto;
}
#tabs{
width: 100%;
}

#item ul{
list-style: none;
display: table-row;
}

#tabs ul li{
display: table-cell;
background: #ccc;
height: 40px;
text-align: center;
border-left: 5px solid #fff;
}

#tabs ul li:first-child{
border-left: none;
background: #f3f3f3;

}

#tabs ul li a{
display: table-cell;
width: 500px;
height: 40px;
line-height: 40px;
color: #000;
text-decoration: none;
font-size: 20px;
}

#tabs ul li a:hover{
color: #e8117f;
}

.tab-content{
border: 10px solid #f3f3f3;
}

.tabs-text{
padding: 10px;
display: none;
}
.menu{
    height:330px;
    width:100%;
    background-color:lightgrey;
    position:relative;
}
.header {
    background-color:grey;
    text-align-last:center;
}
a{
    color:black;
}
.col-md-3 img {
    width:100%;
    height:300px;
}
.fone {
    background-color:gray;
    opacity:0.8;
}
.footer {
    background-color:dimgray;
    color:white;
    height:70px;
}
.footer a {
    color:white;
    font-family:Cleopatra;
}
.DataBase {
    margin-left:740px;
}
body {
    background-color:dimgrey;
}
.text {
    font-family:Cleopatra;
}
.textBlaze{
    font-family:Blaze;
}
.textLove{
    font-family:'Young Love ES';
}
.textSholom {
    font-family:'DS Sholom';
}
.searchstyl{
    color:black;
    font-family:'Antikvar Shadow';
}