﻿<!DOCTYPE html>
@using System.Security.Claims
@{
    var claimsIdentity = User.Identity as ClaimsIdentity;
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@SharedLocalizer["ПерепродажаБилетов"]</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/style.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav text">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">@SharedLocalizer["Домашняя"]</a></li>
                            @if (User != null && User.Identity.IsAuthenticated && claimsIdentity.HasClaim(ClaimTypes.Role, "User"))
                            {
                                <li><a asp-area="" asp-controller="User" asp-action ="UserPanel">@SharedLocalizer["ЛичныйКабинет"] @User.Identity.Name</a></li>
                            }
                            @if (User != null && User.Identity.IsAuthenticated && claimsIdentity.HasClaim(ClaimTypes.Role, "Admin"))
                            {
                                <li><a asp-area="" asp-controller="User" asp-action="AdminPanel" title ="Admin">@SharedLocalizer["Администратор"] @User.Identity.Name</a></li>
                            }
                            @if (User != null && User.Identity.IsAuthenticated && claimsIdentity.HasClaim(ClaimTypes.Role, "Manager"))
                            {
                                <li><a asp-area="" asp-controller="ManagerCabinet" asp-action="Index">@SharedLocalizer["Менеджер"] @User.Identity.Name</a></li>
                            }
                        </ul>
                 @await Html.PartialAsync("_LoginPartial")
               </div>
            </div>
        </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row text-right footer text">
                <b>@SharedLocalizer["ВыбратьЯзык"]&emsp;</b>
                <a asp-controller="Account" asp-action="SetLanguage" asp-route-culture="en-GB" asp-route-returnUrl="@Context.Request.Path">@SharedLocalizer["Англиский"]</a>
                <a asp-controller="Account" asp-action="SetLanguage" asp-route-culture="br" asp-route-returnUrl="@Context.Request.Path">@SharedLocalizer["Белоруский"]</a>
                <a asp-controller="Account" asp-action="SetLanguage" asp-route-culture="ru-RU" asp-route-returnUrl="@Context.Request.Path">@SharedLocalizer["Русский"]</a>
            </div>
        </footer>
    </div>

    

    @RenderSection("scripts", required: false)
</body>
</html>
