﻿@model ReSalingTickets.Presentation.ViewModels.AddTicketsViewModel
<title>@ViewData["Title"] - ReSalingTickets</title>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<form asp-action="AddTicket" method="post" asp-controller="Ticket">
    <div asp-validation-summary="All" class="text-danger"></div>
    
    <div class="form-group">
        <label asp-for="Ticket.Price" class="control-label">@SharedLocalizer["Цена"]</label>
        <input asp-for="Ticket.Price" type="number"/>
    </div>
    <div class="form-group">
        <select class="btn btn-success" asp-for="Ticket.EventId"
                asp-items="Model.Events" asp->
            <option>@SharedLocalizer["Событие"]</option>
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value=@SharedLocalizer["Сохранить"] class="btn btn-default" />
    </div>
</form>