﻿@model ReSalingTickets.Presentation.Models.UserLogin
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<h2>@SharedLocalizer["ВходВПриложение"]</h2>
<form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="text">
        <label>@SharedLocalizer["Логин"]</label><br />
        <input asp-for="Login" />
        <span asp-validation-for="Login"></span>
    </div>
    <div class="text">
        <label>@SharedLocalizer["Пароль"]</label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="text">
        <label>@SharedLocalizer["ЗапомнитьМеня"]</label><br />
        <input asp-for="RememberMe" />
    </div>
    <div class="text">
        <input type="submit" value=@SharedLocalizer["Вход"] />
    </div>
</form>
