﻿@model ReSalingTickets.Presentation.Models.RegisterUser
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<h2>@SharedLocalizer["РегистрацияНового"]</h2>
<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="text">
        <label>@SharedLocalizer["Email"]</label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="text">
        <label>@SharedLocalizer["Login"]</label><br />
        <input asp-for="Login" />
        <span asp-validation-for="Login"></span>
    </div>
    <div class="text">
        <label>@SharedLocalizer["Пароль"]</label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="text">
        <label>@SharedLocalizer["ПодтверждениеПароля"]</label><br />
        <input asp-for="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div class="text">
        <input type="submit" value=@SharedLocalizer["Регистрация"] />
    </div>
</form>
